#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto; /* Centers the max-width element */
  width: 100%;

}

body {
}

.card {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.list{
  list-style: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.list li{
  margin: 1em;
}

.recipe{
  margin: 1em;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whole-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul{
  padding: 0;
  margin: 0;
}

.search-bar{
  margin: 1em;
  padding: 1em;
  border: 1px solid #000;
  border-radius: 5px;

  align-items: center;
  justify-content: center;
}

.recipe li{
  list-style: none;
}

.toTop{
  position: fixed;
  font-size: 2em;
  bottom: .4em;
  right: 1em;
  padding: .2em;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.cardContainer{
  
}
